<!-- 
<h1>nav bar</h1>
<app-navbar></app-navbar>

<app-interpolation></app-interpolation>

<app-propertybinding></app-propertybinding>

<app-eventbinding></app-eventbinding>

<app-twowaybinding></app-twowaybinding> -->

<!-- <div class="container">
    <app-directive></app-directive>
</div> -->
<!-- <div class="container">
    <app-ng-class></app-ng-class>
</div> -->

<!-- <div class="container">
<app-useng-style></app-useng-style>
</div> -->

<!-- <div class="container">
    <app-ng-if></app-ng-if>
</div> -->

<!-- <div class="container">
    <app-ng-switch></app-ng-switch>
</div> -->

<app-parent></app-parent>